@media screen and (max-width: 1200px) {
    .Bar {
      width: 170%;
      margin-top: 2rem;
    }
  }
  @media screen and (max-width: 768px) {
    .Bar{
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 23rem;
    }
  }